@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
  font-size: calc(15px + 0.390625vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.card {
  text-align: center;
  height: 100%;
}

.card > img {
  max-width: 10rem;
  margin: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title,
.h5,
h5 {
  font-size: 0.9rem;
}

.btn {
  font-size: 0.8rem;
  max-width: 10rem;
  margin: 0 auto;
}

header {
  background-color: #212529;
  height: 6rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  padding: calc(1rem + 1vw);
}

header > .btn {
  margin: unset;
  margin-left: auto;
}

footer {
  color: white;
  background-color: #212529;
  width: 100%;
  margin-top: 3rem;
  padding-top: 2rem;
}

footer > p {
  font-size: 0.7rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  color: white;
  margin: 0;
}

#toast {
  text-align: center;
  background-color: #212529;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  z-index: 1;
  padding: 0;
}

.modal-body {
  padding: 0 2rem;
}

.modal-title {
  width: 100%;
}
.modal-header {
  text-align: center;
}

#modal div[class^='col'] {
  padding: 0;
  margin: auto;
}

#delete-button {
  border: none;
  background-color: inherit;
}

h6 {
  margin: auto;
}

#total {
  padding: var(--bs-modal-header-padding);
  border-top: var(--bs-modal-header-border-width) solid
    var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
